html, body {
    height: 100%;
}
#title {
    width: 100%;
    display: inline-block;
    text-align: center;
    height: 10vh;
    background-color: cornflowerblue;
}

.main-container {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    background-color: lightblue;
}

nav {
    background-color: hotpink;
    width: 20vw;
}

.main-body {
    width: 80vw;
    padding: 30px;

}

footer {
    width: 100%;
    display: inline-block;
    height: 10vh;
    background-color: dodgerblue;
}


main {
    width:75vw;
    font-size: 1em;
    position: relative;
}

main > p {
    font-size: 1.5em;
}

#promptBox {
    position: relative;
    border: 1px solid blue;
    padding: 1%;
}

#posted {
    position: absolute;
    bottom: 0%;
    right: 1%;
    font-size: 0.9em;
}

form {
    position: relative;
    border: 1px solid green;
    padding: 1%;
}

textarea {
    position: relative;
    width: 60%;
    max-width: 100%;
    margin-bottom: 2%;
}

form > input[type="submit"] {
    position: absolute;
    bottom: 1%;
    right: 1%;
}