html, body {
    height: 100%;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #332d4e;
}

header {
    display: flex;
    align-items: center;
    background-color: #fafbfc;
    height: 20vh;
    border-bottom: 1px solid #dbe0e4;

}

.header-container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title {

    height: 95%;
    display: flex;
    align-items: center;

}

#title img {
    height: 70px;
}

#title .subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5em;
    display: inline-block;
    width: 150px;
    border-left: 1px solid #ced3d7;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 5px;
    color: #676184;
}

.user-menu {
    font-family: 'Quando', serif;
    position: relative;
}

.user-menu-name {
    border: 1px solid #3fcce5;
    border-radius: 7px;
    background-color: #fafbfc;
    padding: 9px 10px;
    font-size: 1em;
    box-sizing: border-box;
    color: #3fcce5;
    text-align: center;
    box-shadow: 2px 2px #3fcce5;

}

.user-menu-name span {
    position: relative;
    top: 2px;
}

.user-menu ul {
    width: 100%;
    display: none;
    position: absolute;
    padding: 5px 0;
    list-style: none;
    font-size: .9em;
    border: 1px solid #3fcce5;
    border-radius: 7px;
    background-color: #fafbfc;
    box-shadow: 2px 2px #3fcce5;
    z-index: 1;

}

.user-menu ul li {
    padding: 7px 10px;
    color: #332d4e;
}

.user-menu:hover .user-menu-name{
    border-radius: 7px 7px 0 0;
    border-bottom-color: #ced3d7;
}

.user-menu:hover ul{

    border-top: none;
    display: inline-block;
    border-radius: 0 0 7px 7px;
    text-decoration: none;

}

.user-menu li:hover {
    background-color: #3fcce5;
    color: #f1f4f7;
    cursor: pointer;
    text-decoration: none;

}

.user-menu a:hover {
    text-decoration: none;
}


.main-container {
    min-height: 69vh;
    display: flex;
    flex-direction: row;
    background-color: #f1f4f7;
}

nav {
    width: 15vw;
    background-color: #ced3d7;

}

nav ul {
    list-style: none;
    padding: 0 10px;
}

nav ul li {
    margin: 1px;
    padding: 7px;

}

.main-body {
    width: 85vw;
    padding: 30px;
}



.prompt-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 2px;
    -moz-column-gap: 2px;
    column-gap: 2px;



}


.prompts {
    border: 1px solid #3fcce5;
    box-shadow: 2px 2px #3fcce5;
    background-color: #fafbfc;
    margin: 5px;
    border-radius: 5px;
    padding: 15px 20px;
    box-sizing: border-box;
    display: inline-block;

}

.prompt-label {
    font-weight: 700;
}

.stories {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}



h4 {
    font-weight: bold;
}
footer {
    width: 100%;
    display: inline-block;
    height: 10vh;
    background-color: #fafbfc;
    border-top: 1px solid #dbe0e4;

}
